header {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
        }

        a {
            text-decoration: none;
            font-weight: bold;
        }
    }
    .header-top {
        background-color: $main_color;

        ul {
            text-align: right;
            li {
                &:last-child {
                    margin-left: 60px;
                }

                a {
                    display: inline-block;
                    color: white;
                    font-size: 12px;
                    padding: 5px;
                }
            }
        }
    }

    .header-bottom {
        border-bottom: 1px solid lightgrey;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;

            .logo {
                height: 80px;

                img {
                    height: 100%;
                }
            }

            li {
                height: 140px;
                a {
                    color: darkgrey;
                    display: inline-block;
                    line-height: 135px;
                    padding: 0 10px;
                    margin: 0 5px;

                    &.active, &:hover {
                        color: $main_color;
                        border-bottom: 5px solid $main_color;
                    }
                }
            }
        }
    }
}
